body {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
	background-color: #EEEEEE;
}

.toolbar {
	color: white;
	background-color: #354F6E;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7C9BC0), color-stop(0.02, #466890), to(#293E56));
	
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	height: 60px;
	padding-top: 15px;
}

.toolbar .text-field {
	font-size: 0.8em;
}

.toolbar .title {
	float: left;
	padding-left: 1em;
}

.breadcrumb-item {
	cursor: pointer;
}

.breadcrumb-item:hover {
	text-decoration: underline;
}

.toolbar .buttons {
	float:right; 
	padding-right: 1em;
	cursor: pointer;
}

.list-item {
	border-bottom-color: #D1D1D1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	color: black;
	font-size: 2em;
	min-height: 2em;
	padding-left:0.8em;
	padding-right:2em;
	padding-top:0.5em;
	padding-bottom: 0.1em;
}

.list-item.selected {
	background-color: #354F6E;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7C9BC0), color-stop(0.02, #466890), to(#293E56));
	color: white;
}

.list-item .operations {
	float: right;
}

.list-item .operations, #operations {
	cursor: pointer;
	padding-right: 0.5em;
}

#operations img {
	margin-top: 0.5em;
	margin-right: 1em;
}

textarea {
	height: 300px;
	width: 80%;
}

.detail-paragraph {
	font-size: 1.5em;
}

#welcome {
	text-align: center;
	padding: 2em;
}

#welcome .slogan {
	font-size: 6em;
	padding-bottom: 0.5em;
}

#welcome .slogan a {
	color: black;
}