body {
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;
	background-color: #EEEEEE;
}

.toolbar {
	color: white;
	background-color: #354F6E;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7C9BC0), color-stop(0.02, #466890), to(#293E56));
	
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	height: 36px;
	padding-top: 15px;
}

.list-item {
	border-bottom-color: #D1D1D1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	color: black;
	min-height: 2em;
	padding-left:0.8em;
	padding-right:0.8em;
	padding-top:1em;
}